:root {
    --blauw: #3C9691;
    --oranje: #FF722D;
    --beige: #F4DBB7;
    --bruin: #614242;
    --grijs: #3d3a3a;
}


* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--beige);
    height: 100vw;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("/img/sunrays.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
body > h2 {
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: var(--bruin)
}

h1 {
    color: var(--bruin);
    text-align: center;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
}

.container {
    border-radius: 15px;
    margin-top: 250px;
    width: 70%;
    height: 70%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotate(-30deg) skew(15deg) scale(.8); 
    transition: .5s;
}

.container img {
    /* border-left: 15px solid rgba(87,59,12, .9); 
    border-bottom: 15px solid rgba(119, 103, 75, 0.9);  */
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .7s ease-out;
}

/* .container:hover img:nth-child(1) {
    transform: translate(80px, -80px);
    opacity: .33;
}

.container:hover img:nth-child(2) {
    transform: translate(160px, -160px);
    opacity: .66;
}

.container:hover img:nth-child(3) {
    transform: translate(240px, -240px);
    opacity: 1;
} */
  
  /* Style tab links */
  .tablink {
    background-color: var(--bruin);
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 15px;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 100px;
  }
  
  .tablink:active {
    box-shadow: 1px 1px 10px var(--oranje);
    background-color: var(--oranje);
  }

  .tablink:hover {
    background-color: var(--oranje);
  }
  
  .tabcontent {
    border-radius: 5px;
    color: white;
    width: 75%;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }

.tab-container {
    display: flex;
    justify-content: center;
}

  #ground {
      width: 800px;
      height: 800px;
  }
  
  #Home {background-color: none;}
  #News {background-color: none;}
  #Contact {background-color: none;}
  #About {background-color: none;}


@media (min-width: 40em) {
    .container {
        width: 50%;
        height: 50%;
        margin-top: 0;
    }
}
