:root {
    --oranje: #FF722D;
    --bruin: #49302B;
    --grijs: #EDEBED;
    --roze: #F04148;
}

@font-face {
    font-family: caviardreams;
    src: url("../fonts/CaviarDreams.ttf");
}

* {
    font-family: 'Lato', sans-serif;
}

p {
    color: var(--brown);
}
body {
    background-color: white;
    padding: 0;
    margin: 0;
    max-width: 1480px;
}

main {
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/landingspage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin: 0;
}

.hero-image > img {
    text-align: center;
    padding-top: 40vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

.hero-image > p {
    font-family: caviardreams;
    color: white;
    text-align: left;
    padding-top: 20px;
    display: block;
    padding: 80px;
    padding-bottom: 0;
    float: right;
    margin: 0;
}

body > h2 {
    display: block;
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    color: var(--bruin)
}

main > p {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    margin-bottom: 50px;
}



.intro {
    display: flex;
    width: 100%;
    background-color: white;
    padding: 0px;
    margin: 0;
}

.intro h3 {
    color: var(--bruin);
    text-align: center;
    font-size: 35px;
}

.intro h2 {
    color: var(--bruin);
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 22px;
    font-weight: 400;
}

.intro img {
    width: 350px;
    height: 750px;
}

span {
    color: var(--roze);
}

p{
    text-align: center;
}

.legend_item_text {
    display: none;
}


.flex-intro {
    padding-top: 130px;
    padding-bottom: 150px;
}

.visualisation {
    background-color: var(--grijs);
    width: 100%;
    padding: 60px;
    border: 10px solid var(--roze);
}

.visualisation h1 {
    font-size: 30px;
    font-weight: 400;
    color: var(--roze);
    text-transform: uppercase;
}

.visualisation p {
    text-align: left;
}

.flex-vis {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex-vis img{
    width: 188px;
    height: 40px;
}

.wafflet {
    float: right;
    transform: rotate(90deg);
    background-color: black;
    border-radius: 5px;
    padding: 2px, 1px, 1px, 2px;
    transition: .5s ease-in;
}

.waffle {
    padding: 2px;
    padding-bottom: 0px;
}

.label {
    display: none;
}

.tabs {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -3px;
    padding-right: 35px;
}


.tablink {
    background-color: var(--bruin);
    border-radius: 8px 8px 0 0;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 17px;
    margin-bottom: 0;
  }
  
  .tablink:active {
    box-shadow: 1px 1px 10px var(--oranje);
    background-color: var(--oranje);
  }

  .tablink:hover {
    background-color: var(--oranje);
  }

  .tabflex {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-end;
  }

  .tabcontent p {
      /* display: inline-block; */
      width: 400px;
      display: inline-block;
  }

  title {
      padding: 20px;
  }

  figure {
      margin: 0;
  }

  @media (max-width: 40em) {
    .intro img {
        display: none;
    }

    .visualisation {
        padding: 20px;
        border: none;
    }

    .visualisation p {
        padding: 20px;
    }

    .wafllet {
        width: 70%;
        float: none;
    }

    .vis {
        display: flex;
        justify-content: center;
    }

    .intro h2 {
        margin-left: 10px;
        margin-right: 10px;
    }
  }

  footer {
    background-color: #49302B;
    padding: 50px
  }

  footer p {
    text-align: center;
    color: white;
  }


  .questions {
      width:400px;
      display: inline-block;
      flex-grow: 1;
  }

  .questions p {
      width: 90%;
      margin-left: 10px;
  }

  .icon {
      width: 50px;
      height: auto;
      margin-bottom: -10px;
  }